:root {
  --button-text: clamp(0.6rem, 0.7rem + 1vw, 1rem);
  --all-text: clamp(0.7rem, 1rem + 0.6vw, 1.6rem);
}

body {
  min-height: 100dvh;
  margin: 0;
}

.confirmPasswordPage {
  background-color: #f3f3f3;
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.logoText {
  font-size: clamp(2.5rem, 3vw + 1rem, 5.5rem);
  font-weight: 900;
  letter-spacing: 0.15em;
  text-align: center;
  color: #004700;
}

.logoTextAndConfirmPasswordContainer {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.confirmPasswordContainer {
  display: grid;
  background-color: #b2dbb2;
  width: min(30rem, 90%);
  height: 16rem;
  margin-inline: auto;
  border-radius: 0.5rem;
  place-items: center;
  gap: 3rem;
  padding-inline: 1rem;
}

.inputBoxAndButton {
  display: grid;
  gap: 2rem;
  width: 100%;

  > div {
    text-align: center;
  }

  input {
    width: min(25rem, 90%);
    height: 2.7rem;
    border-radius: 2rem;
    background-color: #d7fdd7;
    border: none;
    color: #004700;
    font-weight: bold;
    padding-left: 1rem;
    font-size: medium;
  }
}

.oldPasswordTextbox {
  position: relative;
}

.oldPasswordVisible,
.oldPasswordInvisible {
  position: absolute;
  inset: 27% 3rem auto auto;
  cursor: pointer;
}

.newPasswordTextbox {
  position: relative;
}

.newPasswordVisible,
.newPasswordInvisible {
  position: absolute;
  inset: 27% 3rem auto auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
  margin-inline: auto;

  button {
    padding: 0.5rem min(7vw, 4rem);
    border-radius: 0.5rem;
    background-color: #004700;
    border: none;
    color: #d7fdd7;
    font-weight: 900;
    font-size: var(--button-text);
  }
}

.buttonContainer button:hover {
  outline: 3px solid #356b35;
  cursor: pointer;
}

.buttonContainer button:active {
  background-color: #d7fdd7;
  color: #004700;
  outline: 1px solid #356b35;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .oldPasswordVisible,
  .oldPasswordInvisible {
    position: absolute;
    inset: 27% 2.125rem auto auto;
    cursor: pointer;
  }

  .newPasswordVisible,
  .newPasswordInvisible {
    position: absolute;
    inset: 27% 2.125rem auto auto;
    cursor: pointer;
  }
}
