.homePage {
  background-color: #f3f3f3;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 1rem;
  padding-right: 1rem;
}

.headerMainContainer {
  display: grid;
  grid-template-rows: 4rem 1fr;
  gap: 1rem;
}

.darkMode {
  background-color: black;
}
