:root {
  --homePage-background-color: #f3f3f3;
}

.dark {
  --homePage-background-color: rgb(31, 30, 30);
}

.homePage {
  background-color: var(--homePage-background-color);
  min-height: 100dvh;
}

.wrapper {
  height: 100dvh;
  background-color: var(--homePage-background-color);
  max-width: 100rem;
  padding-inline: 1rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 1rem;
  padding-right: 1rem;
}

.headerMainContainer {
  display: grid;
  grid-template-rows: 4rem 1fr;
  overflow-y: auto;
  width: 100%;
}

@media screen and (max-width: 1215px) {
  .wrapper {
    grid-template-columns: 12.5rem 1fr;
  }
}
