:root {
  --button-text: clamp(0.6rem, 0.7rem + 1vw, 1rem);
  --all-text: clamp(0.7rem, 1rem + 0.6vw, 1.6rem);
}

body {
  min-height: 100dvh;
  margin: 0;
}

.loginPage {
  background-color: #f3f3f3;
  display: grid;
  grid-template-rows: 12% 1fr;
  min-height: 100dvh;
  gap: 0.4rem;
  font-family: "Roboto", sans-serif;
}

.logoText {
  font-size: calc(4rem + 1vw);
  font-weight: 900;
  letter-spacing: 0.15em;
  text-align: center;
  color: #004700;
  width: 100%;
  height: 100%;
  place-self: center;
  margin-block: auto;

  p {
    margin: 0;
    padding: 0;
  }
}

.imageFormGrid {
  place-self: center;
  background-color: #b2dbb2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  width: min(70rem, 85%);
  height: calc(27rem + 7vh);
  padding-inline: 1rem;
  border-radius: 0.5rem;
}

.imageContainer {
  max-width: 100%;
  text-align: center;
  margin-block: auto;

  img {
    vertical-align: middle;
    font-style: italic;
    height: auto;
    width: 100%;
  }
}

.loginForm {
  display: grid;
}

.textRolesContainer {
  display: flex;
  align-items: center;
  gap: 0.4em;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: clamp(1rem, 1rem + 0.35vw, 1.9rem);
  }

  .rolesContainer {
    display: flex;
    gap: 0.6rem;

    div {
      font-size: var(--button-text);
      color: #004700;
      font-weight: 900;
      text-wrap: nowrap;
    }

    div:hover {
      color: #356b35;
      cursor: pointer;
    }
  }
}

.formWrapper {
  align-self: center;
}

.activeRole {
  background-color: #d7fdd7;
  padding-inline: 0.3rem;
  cursor: pointer;
}

.usernameTextbox {
  margin-top: 2.5rem;
  width: min(30vw, 100%);
}

.passwordTextbox {
  margin-top: 2rem;
  width: min(30vw, 100%);
}

.loginForm input {
  width: 100%;
  height: calc(2.6rem + 0.7vh);
  border-radius: 2rem;
  background-color: #d7fdd7;
  border: none;
  color: #004700;
  font-weight: bold;
  padding-left: 1rem;
  font-size: 1.125rem;
}

.loginForm input::placeholder {
  color: #004700;
  font-weight: bold;
}

input:hover {
  outline: 1px solid #004700;
}

.roleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;

  h4 {
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
  }
}

.roleDiv {
  width: fit-content;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: #d7fdd7;
  background-color: #004700;
  font-size: 1.125rem;
}

.loginButton {
  width: min(32vw, 85%);
  height: calc(3.3rem + 1vh);
  border-radius: 2rem;
  background-color: #004700;
  border: none;
  color: #d7fdd7;
  font-weight: 900;
  margin-top: 2.5rem;
  font-size: 1.2rem;
}

.loginButton:hover {
  outline: 3px solid #356b35;
  cursor: pointer;
}

.loginButton:active {
  background-color: #d7fdd7;
  color: #004700;
  outline: 1px solid #356b35;
  cursor: pointer;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.forgotPassword {
  margin-top: 2rem;
  padding-left: 1rem;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.forgotPasswordDisabled {
  margin-top: 2rem;
  padding-left: 1rem;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    pointer-events: none;
    opacity: 0.6;
  }
}

@media screen and (max-width: 1000px) {
  .imageContainer {
    display: none;
  }

  .imageFormGrid {
    display: grid;
    grid-template-columns: 1fr;
    height: 97%;
    /* place-items: center; */
  }

  .textRolesContainer {
    justify-self: center;
  }

  .usernameTextbox {
    margin-inline: auto;
    width: 90%;
  }

  .passwordTextbox {
    margin-inline: auto;
    width: 90%;
  }

  .roleContainer {
    margin-left: 3.5vw;
  }

  .buttonContainer {
    display: flex;
    place-content: center;
  }

  .loginButton {
    width: 92%;
  }

  .forgotPassword {
    margin-left: 3.5vw;
  }

  .forgotPasswordDisabled {
    margin-left: 3.5vw;
  }
}
