:root {
  --button-text: clamp(0.6rem, 0.7rem + 1vw, 1rem);
  --all-text: clamp(0.7rem, 1rem + 0.6vw, 1.6rem);
}

.loginPage {
  display: grid;
  grid-template-rows: 6rem 1fr;
  min-height: 100dvh;
  gap: 0.4rem;
  background-color: #f3f3f3;
}

.logoAndSwitchContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;

  p {
    align-self: flex-end;
    font-size: calc(4rem + 1vw);
    font-weight: 900;
    letter-spacing: 0.15em;
    color: #004700;
    margin: 0;
    padding: 0;
  }

  .switch {
    border: 1px solid #004700;
    align-self: center;
  }

  .lightMode {
    font-size: 1.45rem;
    padding: 0.12rem 0 0 0.2rem;
    color: #004700;
  }

  .darkMode {
    font-size: 1.45rem;
    padding: 0.12rem 0.2rem 0 0.2rem;
    color: #002300;
  }
}

.imageFormGrid {
  place-self: center;
  background-color: #b2dbb2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  width: min(70rem, 85%);
  height: calc(27rem + 7vh);
  padding-inline: 1rem;
  border-radius: 0.5rem;
}

.imageContainer {
  max-width: 100%;
  text-align: center;
  margin-block: auto;

  img {
    vertical-align: middle;
    font-style: italic;
    height: auto;
    width: 100%;
  }
}

.loginForm {
  display: grid;
}

.textRolesContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;

  h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: clamp(1rem, 1rem + 0.35vw, 1.9rem);
  }

  .rolesContainer {
    display: flex;
    gap: 0.6rem;

    div {
      font-size: var(--button-text);
      color: #004700;
      font-weight: 900;
      text-wrap: nowrap;
    }

    div:hover {
      color: #356b35;
      cursor: pointer;
    }
  }
}

.formWrapper {
  align-self: center;

  form {
    --base: calc(3rem + 2vh);
    --input: calc(2.5rem + 2vh);
    display: grid;
    grid-template-rows: var(--base) repeat(2, var(--input)) repeat(
        2,
        var(--base)
      );
    gap: clamp(1rem, 1rem + 1vh, 1.25rem);
  }
}

.activeRole {
  background-color: #d7fdd7;
  padding-inline: 0.3rem;
  cursor: pointer;
}

.usernameTextbox {
  input {
    border-radius: 2rem;
    background-color: #d7fdd7;
    border: none;
    color: #004700;
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.125rem;
    height: 100%;
    width: 96%;
  }

  input::placeholder {
    color: #004700;
    font-weight: bold;
  }

  input:hover {
    outline: 1px solid #004700;
  }
}

.passwordTextbox {
  position: relative;

  input {
    border-radius: 2rem;
    background-color: #d7fdd7;
    border: none;
    color: #004700;
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.125rem;
    height: 100%;
    width: 96%;
  }

  input::placeholder {
    color: #004700;
    font-weight: bold;
  }

  input:hover {
    outline: 1px solid #004700;
  }
}

.passwordVisible,
.passwordInvisible {
  position: absolute;
  inset: 27% 1rem auto auto;
  cursor: pointer;
}

.roleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;

  h4 {
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
  }
}

.roleDiv {
  width: fit-content;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: #d7fdd7;
  background-color: #004700;
  font-size: 1.125rem;
}

.buttonContainer {
  .loginButton {
    border-radius: 2rem;
    background-color: #004700;
    border: none;
    color: #d7fdd7;
    font-weight: 900;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
  }

  .loginButton:hover {
    outline: 3px solid #356b35;
    cursor: pointer;
  }

  .loginButton:active {
    background-color: #d7fdd7;
    color: #004700;
    outline: 1px solid #356b35;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.forgotPassword {
  margin-top: 2rem;
  padding-left: 1rem;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.forgotPasswordDisabled {
  margin-top: 2rem;
  padding-left: 1rem;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    pointer-events: none;
    opacity: 0.6;
  }
}

@media screen and (max-width: 1000px) {
  .imageContainer {
    display: none;
  }

  .imageFormGrid {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
  }

  .textRolesContainer {
    justify-self: center;
  }

  .usernameTextbox {
    width: 90%;
    justify-self: center;
  }

  .passwordTextbox {
    position: relative;
    justify-self: center;
    width: 90%;
  }

  /* .passwordVisible,
  .passwordInvisible {
    position: absolute;
    inset: 27% 0 auto auto;
    cursor: pointer;
  } */

  .roleContainer {
    margin-left: 3.5vw;
  }

  .buttonContainer {
    justify-self: center;
    width: 87%;
  }

  .loginButton {
    width: 100%;
  }

  .forgotPassword {
    margin-left: 3.5vw;
  }

  .forgotPasswordDisabled {
    margin-left: 3.5vw;
  }
}

@media screen and (max-width: 600px) {
  .imageFormGrid {
    width: 85%;
  }

  .logoAndSwitchContainer .switch {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .logoAndSwitchContainer .switch {
    margin-top: 2.5rem;
  }

  .logoAndSwitchContainer p {
    font-size: calc(2.5rem + 2vw);
  }

  .rolesContainer {
    flex-wrap: wrap;
    line-height: 1;
  }
}
