:root {
  --button-text: clamp(0.6rem, 0.7rem + 1vw, 1rem);
  --all-text: clamp(0.7rem, 1rem + 0.6vw, 1.6rem);

  --page-background-color: #f3f3f3;
  --form-background-color: #b2dbb2;
  --text-color: #004700;
  --input-background-color: #d7fdd7;
  --button-background-color: #004700;
  --button-hover: #356b35;
}

.dark {
  --page-background-color: rgb(30, 29, 29);
  --form-background-color: rgb(42, 42, 42);
  --text-color: grey;
  --input-background-color: rgb(30, 30, 30);
  --button-background-color: grey;
  --button-hover: rgb(30, 30, 30);
}

.resetPasswordPage {
  background-color: var(--page-background-color);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.switch {
  margin-top: 1.5rem;
  margin-right: 1rem;
  justify-self: right;
}

.wrapper {
  display: grid;
  place-items: center;
}

.logoText {
  font-size: clamp(2.5rem, 3vw + 1rem, 5.5rem);
  font-weight: 900;
  letter-spacing: 0.15em;
  text-align: center;
  color: var(--text-color);
}

.logoTextAndResetPasswordContainer {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.resetPasswordContainer {
  display: grid;
  background-color: var(--form-background-color);
  width: min(30rem, 90%);
  height: 13rem;
  margin-inline: auto;
  border-radius: 0.5rem;
  place-items: center;
  gap: 3rem;
  padding-inline: 1rem;
}

.inputBoxAndButton {
  display: grid;
  gap: 2rem;
  width: 100%;

  > div {
    text-align: center;
  }

  input {
    width: min(25rem, 90%);
    height: 2.7rem;
    border-radius: 2rem;
    background-color: var(--input-background-color);
    border: none;
    color: var(--text-color);
    font-weight: bold;
    padding-left: 1rem;
    font-size: medium;
  }
}

.buttonContainer {
  display: flex;
  gap: 2rem;
  margin-inline: auto;

  button {
    padding: 0.5rem min(7vw, 4rem);
    border-radius: 0.5rem;
    background-color: var(--button-background-color);
    border: none;
    color: var(--input-background-color);
    font-weight: 900;
    font-size: var(--button-text);
  }
}

.buttonContainer button:hover {
  outline: 1px solid var(--button-hover);
  cursor: pointer;
}

.buttonContainer button:active {
  background-color: var(--input-background-color);
  color: var(--button-background-color);
  cursor: pointer;
}
