:root {
  --main-container-background-color: #d3ead3;
  --text-color: hsl(120, 100%, 7%);
  --text-nothing-color: hsl(120, 63%, 13%);
  --card-box-shadow: #00470026;
  --recordButton-background-color: white;
  --recordButton-color: #156415;
  --preview-record-text-color: #156415;
  --recordButton-active-background-color: #156415;
  --recordButton-active-color: white;
  --employeeInfo-boxShadow: #00470026;
  --navigateButton-backgroundColor: #00470026;
  --navigateButton-backgroundColor-active: hsla(120, 100%, 10%, 0.149);
  --navigateIcon-active-background-color: #002400;
}

.dark {
  --main-container-background-color: rgb(49, 49, 49);
  --text-color: grey;
  --text-nothing-color: hsl(0, 0%, 67%);
  --card-box-shadow: grey;
  --recordButton-background-color: grey;
  --recordButton-color: rgb(49, 49, 49);
  --preview-record-text-color: grey;
  --recordButton-active-background-color: rgb(49, 49, 49);
  --recordButton-active-color: grey;
  --employeeInfo-boxShadow: grey;
  --navigateButton-backgroundColor: rgb(28, 28, 28);
  --navigateButton-backgroundColor-active: hsl(0, 0%, 8%);
  --navigateIcon-background-color: grey;
}

.advancedSearch {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--main-container-background-color);
  box-shadow: 0px 0px 10px 0px var(--card-box-shadow);
}

.advancedSearchTitleAndInfo {
  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }

  .info {
    font-weight: normal;
    font-size: 1rem;
  }
}

.searchMainArea {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}

.selectRecordsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.selectRecordsText i {
  margin: 0;
  font-weight: bold;
  font-size: 1.05rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.recordButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    background-color: var(--recordButton-background-color);
    font-weight: bold;
    color: var(--recordButton-color);
    border: 1px solid var(--recordButton-color);
    cursor: pointer;
  }

  .recordButtonActive {
    background-color: var(--recordButton-active-background-color);
    color: var(--recordButton-active-color);
    border: 1px solid var(--recordButton-active-color);
  }
}

.recordButtonsContainer button:hover {
  opacity: 0.7;
}

.recordInputAndFiltersContainer {
  display: flex;
  gap: 1.5rem;
  height: 100%;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

hr {
  border: 0.1px solid var(--employeeInfo-boxShadow);
}

.recordInputContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    flex: 0;
  }
}

.fillFiltersTitle {
  text-align: center;

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.05rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }
}

.nothingToShow {
  display: flex;
  margin-inline: auto;
  margin-top: 10rem;

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.05rem;
    color: var(--text-nothing-color);
  }
}

.recordTitle {
  margin-bottom: 0.3rem;
  i {
    margin: 0;
    font-size: 1.05rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }
}

.inputContainer {
  margin-top: 1.6rem;

  input {
    width: 96%;
    margin-top: 0.28rem;
    height: calc(2.5rem + 1vh);
    border-radius: 2rem;
    border: 1px solid var(--employeeComponent-input-borderColor);
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.05rem;
    background-color: var(--employeeComponent-input-backgroundColor);
    color: var(--employeeComponent-input-color);
  }

  input::placeholder {
    color: var(--employeeComponent-input-color);
  }

  .checkbox {
    width: 1.4rem;
  }
}

.checkbox {
  width: 1.4rem;
}

.betweenRangeContainer,
.singleChoiceContainer {
  margin-top: 0.8rem;

  input {
    width: 96%;
    margin-top: 0.28rem;
    height: calc(2.5rem + 1vh);
    border-radius: 2rem;
    border: 1px solid var(--employeeComponent-input-borderColor);
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.05rem;
    background-color: var(--employeeComponent-input-backgroundColor);
    color: var(--employeeComponent-input-color);
  }

  input::placeholder {
    color: var(--employeeComponent-input-color);
  }
}

.filtersContainer {
  flex: 1;
}

.previewFiltersTitle {
  text-align: center;
  margin-bottom: 0.5rem;
  p {
    margin: 0;
    font-size: 1.05rem;
    color: var(--text-color);
    font-weight: bold;
  }
}

.singlePreviewContainer {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--employeeComponent-input-backgroundColor);
  box-shadow: 0px 0px 10px 0px var(--card-box-shadow);
}

.previewRecordTitle {
  margin-bottom: 0.3rem;
  i {
    font-size: 1.1rem;
    color: var(--preview-record-text-color);
  }
}

.fieldValueContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.fieldAndValue {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin-bottom: 0.4rem;

  p {
    margin: 0;
  }
}

.fieldContainer {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  background-color: var(--navigateButton-backgroundColor);
}

.value {
  font-size: 1rem;
  letter-spacing: 0.07ch;
  color: var(--text-color);
}

.navigateButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;

  button {
    background-color: var(--navigateButton-backgroundColor);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    background-color: var(--navigateButton-backgroundColor-active);
  }

  button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.navigateIcons {
  font-size: 1.3rem;
  color: var(--navigateIcon-background-color);
}

.displayNone {
  display: none;
}

.errorMessage {
  background-color: #ffbaba;
  font-weight: bold;
  color: #d8000c;
  padding: 0.5rem;
  margin-block: 0.5rem -1rem;
  border-radius: 0.5rem;
  /* display: none; */

  p {
    margin: 0;
  }
}
