:root {
  --main-container-background-color: #d3ead3;
  --text-color: hsl(120, 100%, 7%);
  --text-color-dimmed: hsl(120, 100%, 13%);
  --card-box-shadow: #00470026;
  --navigateButton-backgroundColor: #00470026;
  --navigateButton-backgroundColor-active: hsla(120, 100%, 10%, 0.149);
  --selected-employee-container-background-color: #0360038c;
  --employeeInfo-backgroundColor: #d3ead3;
  --employeeInfo-boxShadow: #00470026;
  --employeeInfo-active-backgroundColor: hsl(120, 35%, 82%);
  --navigateIcon-background-color: #0d3f0d;
  --navigateIcon-active-background-color: #002400;
  --button-text-color: white;
  --employeeInfoSelected-backgroundColor: hsl(120, 65%, 90%);
}

.dark {
  --main-container-background-color: rgb(49, 49, 49);
  --text-color: grey;
  --card-box-shadow: grey;
  --navigateButton-backgroundColor: rgb(28, 28, 28);
  --navigateButton-backgroundColor-active: hsl(0, 0%, 8%);
  --text-color-dimmed: hsl(0, 0%, 56%);
  --selected-employee-container-background-color: rgb(30, 30, 30);
  --employeeInfo-backgroundColor: rgb(49, 49, 49);
  --employeeInfo-boxShadow: grey;
  --employeeInfo-active-backgroundColor: hsl(0, 0%, 15%);
  --navigateIcon-background-color: grey;
  --navigateIcon-active-background-color: rgb(90, 90, 90);
  --button-text-color: rgb(30, 30, 30);
  --employeeInfoSelected-backgroundColor: rgb(39, 39, 39);
}
.applyOccurrenceContainer {
  display: grid;
  grid-template-rows: 2rem 1fr;
  gap: 1rem;
  height: 98.6%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--main-container-background-color);
  box-shadow: 0px 0px 10px 0px var(--card-box-shadow);
}

.applyOccurrenceTitleAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 0.5rem 1.8rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    background-color: var(--button-background-color);
    font-weight: bold;
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.9;
  }

  button:active {
    background-color: var(--button-active-background-color);
    color: var(--button-text-color);
  }
}

.applyOccurrenceTitle p {
  margin: 0;
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--text-color);
}

.twoSectionContainers {
  display: grid;
  grid-template-columns: 1fr 1rem 1fr;
}

hr {
  border: 0.1px solid var(--employeeInfo-boxShadow);
}

.searchResultsContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.resultsCount {
  display: none;
  margin-left: auto;
  margin-bottom: 1rem;

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
  }
}

.navigateButtonsContainer {
  display: flex;
  gap: 1rem;
  margin-inline: auto;

  button {
    background-color: var(--navigateButton-backgroundColor);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    background-color: var(--navigateButton-backgroundColor-active);
  }

  button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.navigateIcons {
  font-size: 1.3rem;
  color: var(--navigateIcon-background-color);
}

.selectedEmployeesContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.overflow {
  height: 90rem;
  overflow-y: auto;
}

.searchResultsTitle {
  text-align: center;

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--text-color-dimmed);
  }
}

.selectedEmployeesTitle {
  text-align: center;

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--text-color);
  }
}

.employeeInfo {
  display: flex;
  flex-wrap: wrap;
  width: 77%;
  margin-inline: auto;
  gap: 0.75rem;
  padding: 1rem 2rem;
  border-left: 6px solid #156415;
  border-radius: 0.5rem;
  background-color: var(--employeeInfo-backgroundColor);
  box-shadow: 0px 0px 10px 0px var(--employeeInfo-boxShadow);
  margin-bottom: 1rem;
  cursor: pointer;

  p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;

    color: var(--text-color);
  }
}

.employeeInfo:hover {
  opacity: 0.8;
}

.employeeInfo:active {
  background-color: var(--employeeInfo-active-backgroundColor);
}

.serviceIdContainer p {
  font-weight: bold;
}

.checkboxContainer {
  margin-left: auto;

  input {
    width: 100%;
    height: 100%;
  }
}

.employeeInfoSelected {
  display: flex;
  flex-wrap: wrap;
  width: 77%;
  margin-inline: auto;
  gap: 0.75rem;
  padding: 1rem 2rem;
  border-left: 6px solid var(--employeeInfo-backgroundColor);
  border-radius: 0.5rem;
  background-color: var(--employeeInfoSelected-backgroundColor);
  box-shadow: 0px 0px 10px 0px var(--employeeInfo-boxShadow);
  margin-bottom: 1rem;
  cursor: pointer;

  p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;

    color: var(--text-color);
  }
}

.employeeInfoSelected:hover {
  opacity: 0.8;
}

.employeeInfoSelected:active {
  background-color: var(--employeeInfo-active-backgroundColor);
}

.serviceIdContainer p {
  font-weight: bold;
}

.nothing {
  width: fit-content;
  margin: auto;

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
  }
}

.loadingSpinner {
  margin: auto;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

@media screen and (max-width: 800px) {
  .twoSectionContainers {
    grid-template-rows: 1fr 1rem 1fr;
    grid-template-columns: 1fr;
  }
}
