:root {
  --text-color: rgb(36, 36, 36);
  --background-color: white;
  --input-background-color: white;
  --headerIcon-color: #004700;
  --icon-hover-color: #056705;
  --input-text-color: #004700;
}

.dark {
  --text-color: grey;
  --background-color: rgb(42, 42, 42);
  --input-background-color: rgb(30, 30, 30);
  --headerIcon-color: grey;
  --icon-hover-color: rgb(162, 162, 162);
  --input-text-color: grey;
}

header {
  padding-inline: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  p {
    margin: 0;
    padding: 0;
  }
}

.activePageContainer {
  width: 12rem;

  p {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
  }
}

.searchBoxContainer {
  width: 30%;

  .searchBox {
    position: relative;

    input {
      position: relative;
      width: 100%;
      height: 2.25rem;
      border-radius: 1.5rem;
      padding-inline: 1rem 2rem;
      font-size: 1rem;
      font-weight: bold;
      border: 1px solid var(--headerIcon-color);
      color: var(--input-text-color);
      background-color: var(--input-background-color);
    }

    .searchIcon {
      position: absolute;
      inset: 19% auto auto 0.4rem;
      font-size: 1.4rem;
      color: var(--headerIcon-color);
    }

    .filterIcon {
      position: absolute;
      inset: 19% -2.5rem auto auto;
      font-size: 1.4rem;
      color: var(--headerIcon-color);
    }

    .filterIcon:hover {
      cursor: pointer;
      color: var(--icon-hover-color);
    }
  }
}

.hide {
  opacity: 0;
}

.profileContainer {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0.5rem;
  padding: 0.5rem;

  .defaultUserImage {
    place-self: center;

    img {
      border-radius: 0.4rem;
    }
  }

  .userNameRoleContainer {
    display: grid;

    .username p {
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: var(--text-color);
    }

    .role p {
      margin: 0;
      padding: 0;
      font-size: 0.77rem;
      color: var(--text-color);
    }
  }
}
