:root {
  --sideBar-background-color: #f3f3f3;
  --logo-color: #004700;
  --text-color: rgb(36, 36, 36);
  --active-color: white;
}

.dark {
  --sideBar-background-color: rgb(31, 30, 30);
  --logo-color: grey;
  --text-color: grey;
  --active-color: rgb(30, 29, 29);
}

aside {
  background-color: var(--sideBar-background-color);
  padding: 1rem 1rem 0 0.3rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: -1rem;
}

.logoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  width: 100%;
  grid-auto-flow: column;
  align-items: center;

  span {
    justify-self: right;
  }

  .logo {
    font-size: 2rem;
    color: var(--logo-color);
  }

  p {
    justify-self: start;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--text-color);
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: max(0.75rem, 2vh);
  padding: 0;

  li {
    list-style: none;
    width: 100%;

    button {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
      width: 100%;
      grid-auto-flow: column;
      align-items: center;
      border-radius: 0.65rem;
      padding-block: 0.7rem;
      border: none;
      background-color: var(--sideBar-background-color);

      span {
        justify-self: right;
      }

      p {
        margin: 0;
        padding: 0;
        justify-self: start;
        font-weight: bold;
        font-size: 0.9rem;
        color: var(--text-color);
      }
    }
  }
}

.icon {
  font-size: 1.4rem;
  color: var(--logo-color);
}

nav button:hover {
  cursor: pointer;
}

.active {
  background-color: var(--logo-color);

  p {
    color: var(--active-color);
  }

  .icon {
    color: var(--active-color);
  }
}

@media screen and (max-width: 1050px) {
  aside {
    padding: 1rem 0 0 0.3rem;
  }

  .logoContainer {
    display: block;
    grid-template-columns: none;
    text-align: center;

    p {
      display: none;
    }
  }

  nav ul li p {
    grid-template-columns: 9.5rem 1fr;
    display: none;
  }

  nav ul li button {
    display: block;
    grid-template-columns: none;
    border-radius: 0.25rem;
    padding-block: 0.2rem;
  }
}

@media screen and (max-width: 700px) {
  aside {
    display: none;
  }
}
